/*comment*/

*
{
    padding: 0;
    margin:0;
    box-sizing:border-box;
    outline: 0;
    font-family: 'Rubik Distressed', cursive;
    font-size:22px;
    transition: all 0.5s ease;
}

body
{

}

button
{
    background-color:rgb(245, 238, 199);
    width: 80px;
    height:60px;
    border-radius:32px;
}