/*comment*/

*
{
    padding: 0;
    margin:0;
    box-sizing:border-box;
    outline: 0;
    font-family: 'Rubik Distressed', cursive;
    font-size:30px;
    transition: all 0.5s ease;
}

body
{
background-image: url('calcback.jpg');
}

button
{
    background-color:rgb(241, 237, 214);
    width: 80px;
    height:60px;
    border-radius:32px;
    cursor:pointer;
    transition: all 200ms ease;
    margin:5px;
}

button:hover
{
    transform:scale(1.15);
}

button#equal
{
    height:130px;
}

.container
{
    height: 100vh;
    width:100vw;
    display:grid;
    place-items:center;
}

.calculator
{
   
    position:relative;
    height:auto;
    width:auto;
    padding:20px;
    border-radius:5px;
    box-shadow:0 0 30px rgb(60, 189, 21);
}



#display
{
    margin: 0 10px;
    height:170px;
    width:390px;
    display:flex;
    align-items:flex-end;
    justify-content:flex-end;
    font-size:40px;
    margin-bottom:20px;
   
    color:black;
    border: 2px solid rgb(42, 199, 120);
}

.display
{
    font-size:40px;
}

.calculator
{
    background-color:rgb(174, 233, 126);
    
}

.calculator #display
{
    box-shadow: 0 0 25px rgb(140, 226, 226);
    font-size:40px;
    background-color: rgb(233, 239, 241);
}

.calculator button#clear
{
    color:rgb(231, 47, 72);
}

.calculator button#delete
{
    color:rgb(214, 104, 31);
}

.calculator button.btn-number
{
    background-color:rgb(219, 229, 151);
}

.calculator button.btn-operator
{
 background-color:rgb(198, 214, 210);
}